@use "./global" as *;
@use "./variables" as *;
@use "./mixins" as *;
@use "./typography" as *;

// Footer
@mixin footerStyles {
    background-color: $primary-bg-color;
    color: $primary-text-color;
    position: relative;

    @include tablet-breakpoint {
        @include header-tablet;
        position: relative;
    }

    @include desktop-breakpoint {
        @include header-desktop;
    }

    &__section {
        @include section-spacing-mobile;
        @include flex(column, flex-start, flex-start, null);
        padding: 0 1rem;

        @include tablet-breakpoint {
            padding: 0 2.25rem;
        }

        @include desktop-breakpoint {
            padding: 0 0.5rem;
        }
    }

    &__bandsite {
        @include type-kit(1.8rem, null, 300);
        order: 3;
        margin-bottom: 0.7rem;

        @include tablet-breakpoint {
            position: absolute;
            top: 13%;
            left: 80%;
            bottom: auto;
        }

        @include desktop-breakpoint {
            left: 82%;
        }
    }

    &__icons {
        @include flex(column, null, null, null);
        gap: 1rem;
        margin-top: 5%;
        order: 1;

        @include tablet-breakpoint {
            margin-top: 3%;
            @include flex(row, flex-start, center, null);
            width: 100%;
            gap: 6.2rem;
        }

        @include desktop-breakpoint {
            gap: 7rem;
        }

        &-text {
            @include type-kit(1.5rem, null, 500);

            @include tablet-breakpoint {
                font-size: 2.1rem;
            }

            @include desktop-breakpoint {
                font-size: 2.3rem;
            }
        }

        &-images {
            @include flex(row, null, null, null);
            gap: 1.5rem;

            @include tablet-breakpoint {
                @include flex(row, flex-end, center, null);
                gap: 2.5rem;
                margin-left: 2rem;
            }
        }
    }

    &__info {
        @include flex(column, null, null, null);
        margin: 1rem 0 1.5rem 0;
        @include type-kit(null, 2.5rem, null);
        order: 2;

        @include tablet-breakpoint {
            @include flex(row, space-evenly, center, null);
            line-height: 5rem;
            letter-spacing: 0.01rem;
            margin-bottom: 2rem;
        }

        &-beesknees {
            &-title {
                @include type-kit(0.9rem, null, 700);

                @include desktop-breakpoint {
                    @include type-kit(0.9rem, null, 500);
                }
            }

            &-address {
                @include type-kit(0.8rem, 1rem, 300);
                width: 60%;

                @include tablet-breakpoint {
                    @include type-kit(0.9rem, 1.4rem, 400);
                }
            }

            &-email {
                @include type-kit(0.7rem, null, 300);

                @include tablet-breakpoint {
                    @include type-kit(0.8rem, null, 300);
                }
            }
        }

        &-limitless {
            &-title {
                @extend .footer__info-beesknees-title;

                @include desktop-breakpoint {
                    @include type-kit(0.9rem, null, 500);
                }
            }

            &-address {
                @extend .footer__info-beesknees-address;

                @include tablet-breakpoint {
                    @include type-kit(0.9rem, 1.4rem, 400);
                }
            }

            &-email {
                @extend .footer__info-beesknees-email;

                @include tablet-breakpoint {
                    @include type-kit(0.8rem, null, 300);
                }
            }
        }

        &-arch {
            &-title {
                @extend .footer__info-beesknees-title;

                @include desktop-breakpoint {
                    @include type-kit(0.9rem, null, 500);
                }
            }

            &-address {
                @extend .footer__info-beesknees-address;

                @include tablet-breakpoint {
                    @include type-kit(0.9rem, 1.4rem, 400);
                }
            }

            &-email {
                @extend .footer__info-beesknees-email;

                @include tablet-breakpoint {
                    @include type-kit(0.8rem, null, 300);
                }
            }
        }
    }

    &__copyright {
        font-size: 0.6rem;
        margin-bottom: 5%;
        order: 4;

        @include tablet-breakpoint {
            @include type-kit(0.9rem, null, 300);
        }

        @include desktop-breakpoint {
            @include type-kit(0.9rem, null, 400);
        }
    }
}