@use "./variables" as *;
@use "./mixins" as *;
@use "./typography" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $typeface;
}

// nav mixin
@mixin headerNav {
    background-color: $primary-bg-color;
    @include flex(column, null, center, null);
    padding: 0.8rem 0 0 0 0;

    @include tablet-breakpoint {
        @include flex(row, flex-start, center, null);
        margin: 0;
        padding: 0 2.25rem;
    }

    @include desktop-breakpoint {
        @include flex(row, null, center, null);
    }

    &__logo {
        @include tablet-breakpoint {
            width: 16%;
            font-size: 2.2rem;
        }

        @include desktop-breakpoint {
            font-size: 2.4rem;
        }

        &-bandsite {
            text-decoration: none;
            color: $primary-text-color;
            @include type-kit(1.5rem, 2rem, 400);

            @include desktop-breakpoint {
                width: 20%;
                font-size: 2rem;
                padding-left: 4rem;
            }
        }
    }

    &__items {
        @include flex(row, center, center, null);
        width: 100%;

        @include tablet-breakpoint {
            width: 22%;
            @include flex(row, space-between, center, null);
            margin-left: 3.2rem;
            padding: 1.5rem 0;
        }

        @include desktop-breakpoint {
            width: 15%;
            margin-left: 6rem;
            padding: 2rem 0;
        }

        &-link {
            @include flex(row, center, center, null);
            position: relative;
            text-decoration: none;
            color: $secondary-inactive-color;
            padding-bottom: 0.4rem;
            @include type-kit(.875rem, 1.375rem, 300);
            border-bottom: 2px solid transparent;
            flex: 1;

            @include tablet-breakpoint {
                @include flex(row, space-between, center, null);
                font-size: 1rem;
                margin: 0.8rem 3rem 0 0;
            }

            @include desktop-breakpoint {
                font-size: 0.9rem;
                margin: 0.8rem 3rem 0 0;
            }

            &:active {
                font-weight: 700;
                color: $primary-text-color;
            }

            &:hover {
                color: $primary-text-color;
                font-weight: 500;
            }

            &:hover::after,
            &:active::after {
                content: "";
                position: absolute;
                bottom: -0.1rem;
                left: 0;
                right: 0;
                height: 0.125rem;
                border-bottom: 2px solid $primary-text-color;

                @include tablet-breakpoint {
                    bottom: -1.6rem;
                }

                @include desktop-breakpoint {
                    bottom: -2.1rem;
                }
            }
        }
    }
}

// footer mixin
@mixin footerStyles {
    background-color: $primary-bg-color;
    color: $primary-text-color;
    position: relative;

    @include tablet-breakpoint {
        @include header-tablet;
        position: relative;
    }

    @include desktop-breakpoint {
        @include header-desktop;
    }

    &__section {
        @include section-spacing-mobile;
        @include flex(column, flex-start, flex-start, null);
        padding: 0 1rem;

        @include tablet-breakpoint {
            padding: 0 2.25rem;
        }

        @include desktop-breakpoint {
            padding: 0 0.5rem;
        }
    }

    &__bandsite {
        @include type-kit(1.8rem, null, 300);
        order: 3;
        margin-bottom: 0.7rem;

        @include tablet-breakpoint {
            position: absolute;
            top: 13%;
            left: 80%;
            bottom: auto;
        }

        @include desktop-breakpoint {
            left: 82%;
        }
    }

    &__icons {
        @include flex(column, null, null, null);
        gap: 1rem;
        margin-top: 5%;
        order: 1;

        @include tablet-breakpoint {
            margin-top: 3%;
            @include flex(row, flex-start, center, null);
            width: 100%;
            gap: 6.2rem;
        }

        @include desktop-breakpoint {
            gap: 7rem;
        }

        &-text {
            @include type-kit(1.5rem, null, 500);

            @include tablet-breakpoint {
                font-size: 2.1rem;
            }

            @include desktop-breakpoint {
                font-size: 2.3rem;
            }
        }

        &-images {
            @include flex(row, null, null, null);
            gap: 1.5rem;

            @include tablet-breakpoint {
                @include flex(row, flex-end, center, null);
                gap: 2.5rem;
                margin-left: 2rem;
            }
        }
    }

    &__info {
        @include flex(column, null, null, null);
        margin: 1rem 0 1.5rem 0;
        @include type-kit(null, 2.5rem, null);
        order: 2;

        @include tablet-breakpoint {
            @include flex(row, space-evenly, center, null);
            line-height: 5rem;
            letter-spacing: 0.01rem;
            margin-bottom: 2rem;
        }

        &-beesknees {
            &-title {
                @include type-kit(0.9rem, null, 700);

                @include desktop-breakpoint {
                    @include type-kit(0.9rem, null, 500);
                }
            }

            &-address {
                @include type-kit(0.8rem, 1rem, 300);
                width: 60%;

                @include tablet-breakpoint {
                    @include type-kit(0.9rem, 1.4rem, 400);
                }
            }

            &-email {
                @include type-kit(0.7rem, null, 300);

                @include tablet-breakpoint {
                    @include type-kit(0.8rem, null, 300);
                }
            }
        }

        &-limitless {
            &-title {
                @extend .footer__info-beesknees-title;

                @include desktop-breakpoint {
                    @include type-kit(0.9rem, null, 500);
                }
            }

            &-address {
                @extend .footer__info-beesknees-address;

                @include tablet-breakpoint {
                    @include type-kit(0.9rem, 1.4rem, 400);
                }
            }

            &-email {
                @extend .footer__info-beesknees-email;

                @include tablet-breakpoint {
                    @include type-kit(0.8rem, null, 300);
                }
            }
        }

        &-arch {
            &-title {
                @extend .footer__info-beesknees-title;

                @include desktop-breakpoint {
                    @include type-kit(0.9rem, null, 500);
                }
            }

            &-address {
                @extend .footer__info-beesknees-address;

                @include tablet-breakpoint {
                    @include type-kit(0.9rem, 1.4rem, 400);
                }
            }

            &-email {
                @extend .footer__info-beesknees-email;

                @include tablet-breakpoint {
                    @include type-kit(0.8rem, null, 300);
                }
            }
        }
    }

    &__copyright {
        font-size: 0.6rem;
        margin-bottom: 5%;
        order: 4;

        @include tablet-breakpoint {
            @include type-kit(0.9rem, null, 300);
        }

        @include desktop-breakpoint {
            @include type-kit(0.9rem, null, 400);
        }
    }
}
