@use "../partials/variables" as *;

@mixin type-kit($fontSize, $lineHeight, $fontWeight) {
    font-size: $fontSize;
    line-height: $lineHeight;
    font-weight: $fontWeight;
}

@mixin flex($direction, $justify, $align, $wrap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
}

@mixin section-spacing-mobile {
    margin: 0;
    padding: 0.5rem 1rem;
}

@mixin section-spacing-tablet-desktop {
    margin: 0;
    padding: 0.5rem 2.25rem;
}

@mixin image-mobile {
    max-width: 100%;
    height: auto;
}

@mixin section-tablet {
    max-width: 80%;
    margin: 0 3.5rem;
}

@mixin header-mobile {
    @include type-kit(1.5rem, null, 550);
    padding: 1rem 0;
    letter-spacing: 0.05rem;
}

@mixin header-tablet {
    @include type-kit(2.5rem, null, 550);
    padding: 1.5rem 0 1rem 0rem;
}

@mixin header-desktop {
    @include type-kit(2.3rem, null, 550);
    padding: 1rem 6rem 2rem 6rem;
    margin-top: 1rem;
}

// DESKTOP screen sizes are defined at 1280px, but are applied to screen sizes 1280px and greater.
// TABLET screen sizes are defined at 768px, but are applied to screen sizes from 768px to 1279px.
// MOBILE screen sizes are defined at 320px, but are applied to screen sizes 767px and below.
@mixin tablet-breakpoint {
    @media (min-width: 768px) and (max-width: 1279px) {
        @content;
    }
}

@mixin desktop-breakpoint {
    @media (min-width: 1280px) {
        @content;
    }
}
