@use "./global" as *;
@use "./variables" as *;
@use "./mixins" as *;
@use "./typography" as *;

// .nav
@mixin headerNav {
    background-color: $primary-bg-color;
    @include flex(column, null, center, null);
    padding: 0.8rem 1rem 0 1rem;

    @include tablet-breakpoint {
        @include flex(row, flex-start, center, null);
        margin: 0;
        padding: 0 2.25rem;
    }

    @include desktop-breakpoint {
        @include flex(row, null, center, null);
        margin: 0;
        padding: 0 2.25rem;
    }

    &__logo {
        @include tablet-breakpoint {
            width: 16%;
            font-size: 2.2rem;
        }

        @include desktop-breakpoint {
            width: 16%;
            font-size: 2.4rem;
        }

        &-bandsite {
            text-decoration: none;
            color: $primary-text-color;
            @include type-kit(1.5rem, 2rem, 400);

            @include desktop-breakpoint {
                width: 20%;
                font-size: 2rem;
                padding-left: 4rem;
            }
        }
    }

    &__items {
        @include flex(row, space-between, center, null);
        width: 50%;

        @include tablet-breakpoint {
            width: 22%;
            @include flex(row, space-between, center, null);
            margin-left: 2rem;
            padding: 1.5rem 0;
        }

        @include desktop-breakpoint {
            width: 15%;
            @include flex(row, space-between, center, null);
            margin-left: 4rem;
            padding: 2rem 0;
        }

        &-link {
            position: relative;
            text-decoration: none;
            color: $secondary-inactive-color;
            padding-bottom: 0.4rem;
            @include type-kit(.875rem, 1.375rem, 300);
            border-bottom: 2px solid transparent;
            width: fit-content;

            @include tablet-breakpoint {
                @include flex(row, space-between, center, null);
                font-size: 1rem;
                width: fit-content;
                margin-top: 0.8rem;
            }

            @include desktop-breakpoint {
                @include flex(row, space-between, center, null);
                font-size: 1.2rem;
                margin-top: 1rem;
                width: fit-content;
            }

            &:active {
                font-weight: 700;
                color: $primary-text-color;
            }

            &:hover {
                color: $primary-text-color;
                font-weight: 500;
            }

            &:hover::after,
            &:active::after {
                content: "";
                position: absolute;
                bottom: -0.1rem;
                left: 0;
                right: 0;
                height: 0.125rem;
                border-bottom: 2px solid $primary-text-color;

                @include tablet-breakpoint {
                    bottom: -1.6rem;
                }

                @include desktop-breakpoint {
                    bottom: -2.1rem;
                }
            }

            // &--selected {
            //     // border-bottom: 2px solid $primary-text-color;
            //     &:hover::after,
            //     &:active::after {
            //         content: "";
            //         position: absolute;
            //         bottom: -0.1rem;
            //         left: 0;
            //         right: 0;
            //         height: 0.125rem;
            //         border-bottom: 2px solid $primary-text-color;
            
            //         @include tablet-breakpoint {
            //             bottom: -1.6rem;
            //         }
            
            //         @include desktop-breakpoint {
            //             bottom: -2.1rem;
            //         }
            //     }
            // }
        }
    }
}
