@font-face {
    font-family: "NunitoSans";
    src: url("../fonts/nunitoSans/static/NunitoSans_10pt-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "NunitoSans";
    src: url("../fonts/nunitoSans/static/NunitoSans_10pt-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "NunitoSans";
    src: url("../fonts/nunitoSans/static/NunitoSans_10pt-Bold.ttf");
    font-weight: 700;
}
