@use "./typography" as *;

$typeface: "NunitoSans";

$primary-bg-color: #323232; //change variable names to make more specific
$secondary-text-color: #AFAFAF;
$primary-text-color: #FFFFFF;
$secondary-hover-color: #000000;
$secondary-inactive-color: #E1E1E1;
$alternative-light-bg: #FAFAFA;
