@use "./typography" as *;

$typeface: "NunitoSans";

$primary-bg-color: #323232;
$secondary-text-color: #AFAFAF;
$primary-text-color: #FFFFFF;
$secondary-hover-color: #000000;
$secondary-inactive-color: #E1E1E1;
$alternative-light-bg: #FAFAFA;

$tablet-breakpoints: 768px;
$desktop-breakpoints: 1280px;
