@use "./partials/global" as *;
@use "./partials/variables" as *;
@use "./partials/mixins" as *;
@use "./partials/typography" as *;

// Nav styling
.nav {
    background-color: $primary-bg-color;
    @include flex(column, null, center, null);
    padding: 0.8rem 1rem 0 1rem;

    @include tablet-breakpoint {
        @include flex(row, flex-start, center, null);
        margin: 0;
        padding: 0 2.25rem;
    }

    @include desktop-breakpoint {
        @include flex(row, null, center, null);
        margin: 0;
        padding: 0 2.25rem;
    }

    &__logo {
        @include tablet-breakpoint {
            width: 16%;
            font-size: 2.2rem;
        }

        @include desktop-breakpoint {
            width: 16%;
            font-size: 2.4rem;
        }

        &-bandsite {
            text-decoration: none;
            color: $primary-text-color;
            @include type-kit(1.5rem, 2rem, 400);

            @include desktop-breakpoint {
                width: 20%;
                font-size: 2rem;
                padding-left: 4rem;
            }
        }
    }

    &__items {
        @include flex(row, space-between, center, null);
        width: 50%;

        @include tablet-breakpoint {
            width: 22%;
            @include flex(row, space-between, center, null);
            margin-left: 2rem;
            padding: 1.5rem 0;
        }

        @include desktop-breakpoint {
            width: 15%;
            @include flex(row, space-between, center, null);
            margin-left: 4rem;
            padding: 2rem 0;
        }

        &-link {
            position: relative;
            text-decoration: none;
            color: $secondary-inactive-color;
            padding-bottom: 0.4rem;
            @include type-kit(.875rem, 1.375rem, 300);
            border-bottom: 2px solid transparent;
            width: fit-content;

            @include tablet-breakpoint {
                @include flex(row, space-between, center, null);
                font-size: 1rem;
                width: fit-content;
                margin-top: 0.8rem;
            }

            @include desktop-breakpoint {
                @include flex(row, space-between, center, null);
                font-size: 1.2rem;
                margin-top: 1rem;
                width: fit-content;
            }
    
            &:active {
                font-weight: 700;
                color: $primary-text-color;
            }
    
            &:hover {
                color: $primary-text-color;
                font-weight: 500;
            }

            &:hover::after,
            &:active::after {
                content: "";
                position: absolute;
                bottom: -0.1rem;
                left: 0;
                right: 0;
                height: 0.125rem;
                border-bottom: 2px solid $primary-text-color;

                @include tablet-breakpoint {
                    bottom: -1.6rem;
                }

                @include desktop-breakpoint {
                    bottom: -2.1rem;
                }
            }
        }
    }
}

// Hero Section
.hero {
    background-color: $primary-bg-color;
    background-image: url("../assets/images/hero-bio.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 6rem;
    position: relative;
    background-blend-mode: soft-light;
    height: 30vh;

    @include tablet-breakpoint {
        height: 55vh;
    }

    @include desktop-breakpoint {
        height: 80vh;
    }

    &__text {
        color: $primary-text-color;
        position: absolute;
        top: 40%;
        left: 0;
        padding: 0 1rem;
        @include type-kit(1.9rem, null, 500);

        @include tablet-breakpoint {
            font-size: 4.2rem;
            padding: 0 2.25rem;
        }
    
        @include desktop-breakpoint {
            font-size: 4rem;
            padding: 0 5rem;
            font-weight: 700;
            padding-left: 6.25rem;
        }
    }
}

// About styling
.about {
    @include section-spacing-mobile;
    background-color: $primary-text-color;

    @include desktop-breakpoint {
        padding: 0 2.25rem;
    }

    &__header {
        @include header-mobile;
        padding-bottom: 1rem;

        @include tablet-breakpoint {
            @include header-tablet;
            padding-left: 1.25rem;
        }

        @include desktop-breakpoint {
            @include header-desktop;
            padding-left: 4rem;
        }
    }

    &__container {
        @include tablet-breakpoint {
            @include section-spacing-tablet-desktop;
        }

        @include desktop-breakpoint {
            @include section-spacing-tablet-desktop
        }
    }

    &__image {
        @include image-mobile;

        @include tablet-breakpoint {
            @include section-tablet;
        }

        @include desktop-breakpoint {
            width: 80%;
            margin: 0 1rem 0 8rem;
            height: 60vh;
        }
    }

    &__quote {
        @include type-kit(0.9rem, 1.5rem, 500);
        padding-top: 1rem;
        word-spacing: 0.05rem;

        @include tablet-breakpoint {
            margin: 0rem 3.5rem;
            font-size: 1.3rem;
            line-height: 2rem;
            max-width: 80%;
            padding-top: 2.25rem;
        }

        @include desktop-breakpoint {
            width: 70%;
            margin: 1.5rem 1rem 0 8rem;
            font-size: 1.3rem;
        }
    }

    &__quotename {
        @extend .about__quote;
        
        @include tablet-breakpoint {
            @include section-tablet;
            font-size: 1.3rem;
            padding-top: 0;
        }

        @include desktop-breakpoint {
            width: 70%;
            margin: 0rem 1rem 0 8rem;
            font-size: 1rem;
        }
    }

    &__article {
        @include flex(column, center, flex-start, null);

        @include tablet-breakpoint {
            @include section-tablet;
        }
    
        @include desktop-breakpoint {
            width: 80%;
            margin: 2.5rem 1rem 0 8rem;
        }

        &-header {
            padding-top: 1rem;
            @include type-kit(0.9rem, null, 310);

            @include tablet-breakpoint {
                font-size: 2rem;
                padding-top: 2.25rem;
            }

            @include desktop-breakpoint {
                font-size: 1.5rem;
                padding-top: 0;
                padding-bottom: 1rem;
            }
        }

        &-texts {
            @include flex(column, flex-start, center, wrap);
            @include type-kit(.8125rem, 1.125rem, 300);

            @include tablet-breakpoint {
                @include flex(row, space-between, center, nowrap);
                font-size: 1rem;
            }

            @include desktop-breakpoint {
                @include flex(row, space-between, center, nowrap);
                font-size: 1rem;
            }
        }

        &-text {
            margin: 1rem 0;

            @include tablet-breakpoint {
                margin: 1rem 0 0 0;
                line-height: 1.5rem;
                width: 47%;
            }

            @include desktop-breakpoint {
                margin: 1rem 0 0 0;
                line-height: 1.5rem;
                width: 48%;
            }
        }
    }
}

.gallery {
    @include section-spacing-mobile;
    background-color: $alternative-light-bg;

    @include tablet-breakpoint {
        @include section-spacing-tablet-desktop;
    }

    @include desktop-breakpoint {
        @include section-spacing-tablet-desktop;
    }

    &__header {
        @include header-mobile;

        @include tablet-breakpoint {
            @include header-tablet;
        }

        @include desktop-breakpoint {
            @include header-desktop;
            padding-bottom: 1rem; 
            padding-left: 4rem;
        }
    }

    &__photos {
        @include tablet-breakpoint {
            @include flex(row, space-between, center, wrap);
            padding: 0;
        }

        @include desktop-breakpoint {
            @include flex(row, space-evenly, center, wrap);
            padding: 0 2.2rem;
        }

        &-photo {
            @include image-mobile;
            margin: 0.4rem 0;

            @include tablet-breakpoint {
                width: 30%;
                margin-bottom: 1rem;
            }

            @include desktop-breakpoint {
                width: 30%;
                margin-top: 1.5rem;
            }
        }
    }
}


// Footer stylings
.footer {
    background-color: $primary-bg-color;
    color: $primary-text-color;
    position: relative;

    @include tablet-breakpoint {
        @include header-tablet;
        position: relative;
    }

    @include desktop-breakpoint {
        @include header-desktop;
        position: relative;
    }

    &__section {
        @include section-spacing-mobile;
        @include flex(column, flex-start, flex-start, null);
        padding: 0 1rem;

        @include tablet-breakpoint {
            padding: 0 2.25rem;
        }

        @include desktop-breakpoint {
            padding: 0 0.5rem;
        }
    }

    &__bandsite {
        @include type-kit(1.8rem, null, 300);
        order: 3;
        margin-bottom: 0.7rem;

        @include tablet-breakpoint {
            position: absolute;
            top: 13%;
            left: 80%;
            bottom: auto;
        }

        @include desktop-breakpoint {
            position: absolute;
            top: 13%;
            left: 82%;
            bottom: auto;
        }
    }

    &__icons {
        @include flex(column, null, null, null);
        gap: 1rem;
        margin-top: 5%;
        order: 1;

        @include tablet-breakpoint {
            margin-top: 3%;
            @include flex(row, flex-start, center, null);
            width: 100%;
            gap: 6.2rem;
        }

        @include desktop-breakpoint {
            margin-top: 3%;
            @include flex(row, flex-start, center, null);
            width: 100%;
            gap: 7rem;
        }

        &-text {
            @include type-kit(1.5rem, null, 500);

            @include tablet-breakpoint {
                font-size: 2.1rem;
            }

            @include desktop-breakpoint {
                font-size: 2.3rem;
            }
        }

        &-images {
            @include flex(row, null, null, null);
            gap: 1.5rem;

            @include tablet-breakpoint {
                @include flex(row, flex-end, center, null);
                gap: 2.5rem;
                margin-left: 2rem;
            }

            @include desktop-breakpoint {
                @include flex(row, flex-end, center, null);
                gap: 2.5rem;
                margin-left: 2rem;
            }
        }
    }

    &__info {
        @include flex(column, null, null, null);
        margin: 1rem 0 1.5rem 0;
        @include type-kit(null, 2.5rem, null);
        order: 2;

        @include tablet-breakpoint {
            @include flex(row, space-evenly, center, null);
            line-height: 5rem;
            letter-spacing: 0.01rem;
            margin-bottom: 2rem;
        }

        @include desktop-breakpoint {
            @include flex(row, space-evenly, center, null);
            line-height: 5rem;
            letter-spacing: 0.01rem;
            margin-bottom: 2rem;
        }

        &-1 {
            &-title {
                @include type-kit(0.9rem, null, 700);

                @include desktop-breakpoint {
                    @include type-kit(0.9rem, null, 500);
                }
            }

            &-address {
                @include type-kit(0.8rem, 1rem, 300);
                width: 60%;

                @include tablet-breakpoint {
                    @include type-kit(0.9rem, 1.4rem, 400);
                }

                @include desktop-breakpoint {
                    @include type-kit(0.9rem, 1.4rem, 400);
                }
            }

            &-email {
                @include type-kit(0.7rem, null, 300);

                @include tablet-breakpoint {
                    @include type-kit(0.8rem, null, 300);
                }

                @include desktop-breakpoint {
                    @include type-kit(0.8rem, null, 300);
                }
            }
        }

        &-2 {
            &-title {
                @extend .footer__info-1-title;

                @include desktop-breakpoint {
                    @include type-kit(0.9rem, null, 500);
                }
            }

            &-address {
                @extend .footer__info-1-address;

                @include tablet-breakpoint {
                    @include type-kit(0.9rem, 1.4rem, 400);
                }

                @include desktop-breakpoint {
                    @include type-kit(0.9rem, 1.4rem, 400);
                }
            }

            &-email {
                @extend .footer__info-1-email;

                @include tablet-breakpoint {
                    @include type-kit(0.8rem, null, 300);
                }

                @include desktop-breakpoint {
                    @include type-kit(0.8rem, null, 300);
                }
            }
        }

        &-3 {
            &-title {
                @extend .footer__info-1-title;

                @include desktop-breakpoint {
                    @include type-kit(0.9rem, null, 500);
                }
            }

            &-address {
                @extend .footer__info-1-address;

                @include tablet-breakpoint {
                        @include type-kit(0.9rem, 1.4rem, 400);
                    }

                @include desktop-breakpoint {
                    @include type-kit(0.9rem, 1.4rem, 400);
                }
            }

            &-email {
                @extend .footer__info-1-email;

                @include tablet-breakpoint {
                    @include type-kit(0.8rem, null, 300);
                }

                @include desktop-breakpoint {
                    @include type-kit(0.8rem, null, 300);
                }
            }
        }
    }

    &__copyright {
        font-size: 0.6rem;
        margin-bottom: 5%;
        order: 4;

        @include tablet-breakpoint {
            @include type-kit(0.9rem, null, 300);
        }

        @include desktop-breakpoint {
            @include type-kit(0.9rem, null, 400);
        }
    }
}
